<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>読めルンです。</title>
</head>
<body>
  <h1><a href="/">読め<span>ルン</span>です。</a></h1>



  <% if request.post? %>

  <div class="wrap">
    <div class="img">
      <h2>皇族カイセキ。</h2>
      <%= image_tag(@image) %>
    </div>
    <div class="analysis">
      <h2>結果</h2>
      <div class="analysis-text">
        <div id = "result">
          <ul>


            <%if false %>
            <li>あなたは...</li>
              <%if @ccc==nil %>
                <li>残念ながら<span>人間</span>ではありません…</li>
              <% else %>
                <li><span><%=(@ccc["age"]["score"]*100).round %>％</span>の確率で<span><%=@ccc["age"]["min"]%>~<%=@ccc["age"]["max"]%></span>歳で、</li>
                <li><span><%=(@ccc["gender"]["score"]*100).round %>％</span>の確率で<span><%=@ccc["gender"]["gender"]=="MALE"?"男性":"女性"%></span>です!</li>
              <% end %>
            <% end %>

      

            <li>あなたは...</li>
            <%if @ccc==nil %>
              <li>残念ながら<span>皇族</span>ではありません…</li>
            <% else %>
              <% @name_hash={"aiko"=>"愛子さま","hisahito"=>"悠仁さま","joko"=>"上皇陛下","tenno"=>"天皇陛下","koshi"=>"皇嗣殿下"} %>
              <% @name_hash.each{|k,v|@name=v if @ccc["class"]==k} %>
              <li><span><%=(@ccc["score"]*100).round%>％</span>の確率で<span><%=@name%></span>です!</li>
              <li>おめでとうございます🎉🎉🎉</li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <% else %>
  <h2>フォーム再送信の確認</h2>
  <div class="form_confirm">このウェブページを正しく表示するには、先ほど入力したデータが必要です。データは再送信できますが、このページで先ほど行った操作を繰り返すことになります。
  ページの読み込みに必要なデータを再送信するには、再読み込みボタンを押してください。</div>
  <% end %>

  <center>
    <br/><a href="/" class="btn-horizontal-border">ホームへ戻る</a>
  </center>

  <br><br>
  <footer class="site-footer">
    <p class="copyright">&#169;2019 Shumaikun</p>
  </footer>
</body>
</html>
